# Mojaloop Connector Config for sim-backend
FSP_ID= #e.g., mtndfsp
CONNECTOR_NAME= #e.g.,MTN-UG
FSP_ID= #e.g.,mtnuganda
LEI= #e.g.,mtnuganda

## CBS Config , env variables can change as per the core connector being used
# These are only provided as sample
MTN_BASE_URL= #e.g.,sandbox.momodeveloper.mtn.com
MTN_COLLECTION_API_KEY= #e.g.,b1207baca1d343b581cc21346904c707
MTN_COLLECTION_CLIENT_ID= #e.g.,c87a6e02-aa8c-4eaf-827a-d5d90e744241
MTN_COLLECTION_SUBSCRIPTION_KEY= #e.g.,5f40c404bf0c4e4f9b37e533d4993dd7
MTN_DISBURSEMENT_API_KEY= #e.g.,1188de4fcff9436f826cd1151985d7fe
MTN_DISBURSEMENT_CLIENT_ID= #e.g.,980fa27a-16dc-4432-b589-7733a02008cf
MTN_DISBURSEMENT_SUBSCRIPTION_KEY= #e.g.,85ce32bfcd8a44aaab993ebac601ff46
MTN_TARGET_ENVIRONMENT= #e.g.,sandbox
SUPPORTED_ID_TYPE= #e.g.,MSISDN
CBS_NAME= #e.g.,MTN
X_COUNTRY= #e.g.,UG
X_CURRENCY= #e.g.,EUR
SERVICE_CHARGE= #e.g.,0
EXPIRATION_DURATION= #e.g.,1
HTTP_TIMEOUT= #e.g.,5000
MTN_ENV= #e.g.,staging
DFSP_CURRENCY= #e.g.,UGX
