version: '3'
#
#  Component arrangement is as below:
#  
#  ┌────────────┐    ┌────────────┐   ┌─────────────┐    ┌──────────┐
#  │            │    │            │   │             │    │          │
#  │ Simulator  ├───►│ Simulator  ├──►│  SDK Scheme ├───►│  Switch  │
#  │ Backend    │    │   Core     │   │    Adapter  │    │          │
#  │   (TTK)    │◄───┤ Connector  │◄──┤             │◄───┤  (TTK)   │
#  └────────────┘    └────────────┘   └─────────────┘    └──────────┘
#  

services:

  frontend:
    image: pm4ml/mojaloop-payment-manager-ui:1.14.0
    environment:
      - API_BASE_URL=http://localhost:4010
    ports:
       - "8081:8080"
    depends_on:
      - experience-api

  keycloak:
    image: jboss/keycloak:12.0.4
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_FRONTEND_URL=http://localhost:8080/auth
      - KEYCLOAK_IMPORT=/tmp/pm4ml-realm.json
      - DB_VENDOR=h2
    volumes:
      - ./keycloak-realm.json:/tmp/pm4ml-realm.json
    ports:
      - "8080:8080"

  experience-api:
    image: pm4ml/mojaloop-payment-manager-experience-api:2.0.5
    ports:
      - "4010:3000"
    environment:
      - APP_KEYS={{ CHANGE BEFORE INSTALL e.g. ootu1yoo5geeS7izai4ox1Yae1Eey6ai}}
      - AUTH_CLIENT_ID=pm4ml-customer-ui
      - AUTH_CLIENT_SECRET=a857e3d7-ebd4-4451-aabd-bcb480dde1a3
      - AUTH_DISCOVERY_ENDPOINT=http://keycloak:8080/auth/realms/pm4ml/.well-known/openid-configuration
      - AUTH_LOGGED_IN_LANDING_URL=http://localhost:8081/
      - AUTH_REDIRECT_NAME=pm4ml-customer-ui
      - AUTH_REDIRECT_URI=http://localhost:4010/auth
      - AUTH_RESOURCE_NAME=pm4ml-customer-ui
      - AUTH_SCOPES=roles
      - DFSP_ID={{ CHANGE BEFORE INSTALL }}
      - ENV_ID=1
      - MANAGEMENT_ENDPOINT=management-api:9000
      - METRICS_ENDPOINT=prometheus:9090
      - MOCK_DATA=false
      - SESSION_REDIS_URL=redis://redis/2
      - SESSION_SECURE=false
    depends_on:
      - management-api
      - keycloak
      - redis

  management-api:
    image: pm4ml/mojaloop-payment-manager-management-api:4.1.0
    environment:
      - AUTH_ENABLED=false
      - AUTH_PASS=pm4mltest123
      - AUTH_USER=pm4mltest
      - CACHE_HOST=redis
      - CACHE_SYNC_INTERVAL_SECONDS=10
      - CACHE_URL=redis://redis:6379
      - DFSP_CA_PATH=/secrets
      - DFSP_CA_PATH=/tlsServerCA.pem
      - DFSP_CSR_KEY=a
      - DFSP_ID=dfsp1
      - ENV_ID=1
      - MCM_API_TOKEN={{ REQUIRED BEFORE INSTALL }}
      - MCM_CLIENT_REFRESH_INTERVAL=180000
      - MCM_CLIENT_SECRETS_LOCATION=/secrets
      - MCM_SERVER_ENDPOINT=localhost:9001
      - P12_PASS_PHRASE=SOME_S3C4R3_P@SS
      - PK_SECRETS_LOCATION=/secrets
      - PRIVATE_KEY_ALGORITHM=rsa
      - PRIVATE_KEY_LENGTH=4096
      - TLS_SERVER_PRIVATE_KEY=/tlsServerPvtKey.key
      - TLS_SERVER_PRIVATE_KEY=a
      - WS_PORT=4003
      - WS_URL=sdk-scheme-adapter
      - dfspCsrPrivateKeyAlgorithm=rsa
      - dfspCsrPrivateKeyLength=4096
      - p12PassPhrase=SOME_S3C4R3_P@SS
      - tlsClientCSRParametersPath=/resources/tlsClientCSRParameters.json
      - tlsServerCAPath=/tlsServerCA.pem
      - tlsServerCSRParametersPath=/resources/tlsServerCSRParameters.json
      - tlsServerPvtKeyPath=/tlsServerPvtKey.key
      - VAULT_ENDPOINT=http://vault-dev:8233
      - VAULT_PKI_BASE_DOMAIN=example.com
      - VAULT_AUTH_METHOD=APP_ROLE
      - VAULT_ROLE_ID_FILE=/vault/role-id
      - VAULT_ROLE_SECRET_ID_FILE=/vault/secret-id
      - VAULT_PKI_SERVER_ROLE=server-role
      - VAULT_PKI_CLIENT_ROLE=client-role
      - VAULT_MOUNT_PKI=pki
      - VAULT_MOUNT_KV=secrets
      - CERT_MANAGER_ENABLED=false

    volumes:
      # - "/tmp/secrets:/secrets"
      - ./vault/tmp:/vault
    depends_on:
      redis:
        condition: service_started
      keycloak:
        condition: service_started
      vault-dev:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  simulator-core-connector:
    image: pm4ml/wallet-core-connector:1.0.11
    environment:
      - BACKEND_ENDPOINT=http://sim-backend:4040
      - MLCONN_OUTBOUND_ENDPOINT=http://sdk-scheme-adapter:4001
    ports:
       - "3003:3003"
    depends_on:
      - sdk-scheme-adapter
      - sim-backend

  sim-backend:
    image: mojaloop/ml-testing-toolkit:v15.7.0
    volumes:
      - "../testing-toolkit/docker-compose/as-a-backend/spec_files:/opt/app/spec_files"
    ports:
      - "5051:5050"
    command:
      - sh
      - -c
      - "npm start"
  # NOTE: The following UI for sim backend can be enabled for debugging purpose
  # sim-backend-ui:
  #   image: mojaloop/ml-testing-toolkit-ui:v15.1.3
  #   ports:
  #     - "6061:6060"
  #   environment:
  #     - API_BASE_URL=http://localhost:5051
  #     - AUTH_ENABLED=FALSE
  #   command:
  #     - sh
  #     - /usr/share/nginx/start.sh

  redis:
    image: redis:6.2.4-alpine
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_PORT=6379
      - REDIS_REPLICATION_MODE=master
      - REDIS_TLS_ENABLED=no

  sdk-scheme-adapter:
    image: mojaloop/sdk-scheme-adapter:v23.4.0
    command:
    - sh
    - -c
    - "yarn start:api-svc"
    environment:
      - AUTO_ACCEPT_PARTY=true
      - AUTO_ACCEPT_QUOTES=true
      - BACKEND_ENDPOINT=sim-backend:4040
      - CACHE_HOST=redis
      - CACHE_PORT=6379
      - CACHE_URL=redis://redis:6379
      - DFSP_ID=dfsp1
      - ENABLE_TEST_FEATURES=true
      - INBOUND_LISTEN_PORT=4000
      - INBOUND_MUTUAL_TLS_ENABLED=false
      - IN_CA_CERT_PATH=/secrets/inbound-cacert.pem
      - IN_SERVER_CERT_PATH=/secrets/inbound-cert.pem
      - IN_SERVER_KEY_PATH=/secrets/inbound-key.pem
      - JWS_SIGN=false
      - JWS_SIGNING_KEY_PATH=/jwsSigningKey.key
      - JWS_VERIFICATION_KEYS_DIRECTORY=/jwsVerificationKeys
      - METRICS_SERVER_LISTEN_PORT=4004
      - MULTIPLE_PARTIES_RESPONSE=false
      - MGMT_API_WS_URL=management-api
      - MGMT_API_WS_PORT=4005
      - OUTBOUND_LISTEN_PORT=4001
      - OUTBOUND_MUTUAL_TLS_ENABLED=false
      - OUT_CA_CERT_PATH=/secrets/outbound-cacert.pem
      - OUT_CLIENT_CERT_PATH=/secrets/outbound-cert.pem
      - OUT_CLIENT_KEY_PATH=/secrets/outbound-key.pem
      - PEER_ENDPOINT=mojaloop-testing-toolkit:4040
      - ALS_ENDPOINT=mojaloop-testing-toolkit:4040
      - TEST_CA_CERT_PATH=/secrets/test-cacert.pem
      - TEST_CLIENT_CERT_PATH=/secrets/test-cert.pem
      - TEST_CLIENT_KEY_PATH=/secrets/test-key.pem
      - TEST_LISTEN_PORT=4002
      - TEST_MUTUAL_TLS_ENABLED=false
      - WS_PORT=4003
      # - OAUTH_TOKEN_ENDPOINT={{ CHANGE BEFORE INSTALL e.g. https://extgw.dev.product.mbox-dev.io:9443/oauth2/token }}
      # - OAUTH_CLIENT_KEY={{ CHANGE BEFORE INSTALL e.g. k9edbgS09cE9qAkiVEaz5Hmuc5Ua }}
      # - OAUTH_CLIENT_SECRET={{ CHANGE BEFORE INSTALL e.g. UvMTwwj7am2agjkAfvmElNte4ewa }}
      - VALIDATE_INBOUND_JWS=false
      - RESERVE_NOTIFICATION=false
      # - RESOURCE_VERSIONS="transfers=1.1"
      - PM4ML_ENABLED=true
      - ENABLE_BACKEND_EVENT_HANDLER=false
      - ENABLE_FSPIOP_EVENT_HANDLER=false
    ports:
      - "4000:4000"
      - "4001:4001"
    volumes:
      - ./outbound-cacert.pem:/secrets/outbound-cacert.pem
      - ./outbound-cert.pem:/secrets/outbound-cert.pem
      - ./outbound-key.pem:/secrets/outbound-key.pem
      - ./inbound-cacert.pem:/secrets/inbound-cacert.pem
      - ./inbound-cert.pem:/secrets/inbound-cert.pem
      - ./inbound-key.pem:/secrets/inbound-key.pem
      - ./secrets/jwsSigningKey.key:/jwsSigningKey.key
      - ./secrets/jwsVerificationKeys:/jwsVerificationKeys
    restart: always
    depends_on:
      redis:
        condition: service_started
      management-api:
        condition: service_started
      # management-api:
      #   condition: service_healthy

  mojaloop-testing-toolkit:
    image: mojaloop/ml-testing-toolkit:v15.7.0
    user: root
    volumes:
      - "../testing-toolkit/docker-compose/as-a-switch/spec_files:/opt/app/spec_files"
    ports:
      - "4040:4040"
      - "5050:5050"
    command:
      - sh
      - -c
      - "npm start"
  mojaloop-testing-toolkit-ui:
    image: mojaloop/ml-testing-toolkit-ui:v15.1.3
    ports:
      - "6060:6060"
    environment:
      - API_BASE_URL=http://localhost:5050
      - AUTH_ENABLED=FALSE
    command:
      - sh
      - /usr/share/nginx/start.sh
  vault-dev:
    image: vault:1.2.1
    restart: always
    container_name: vault-dev
    environment:
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8233
      VAULT_ADDR: http://127.0.0.1:8233
      VAULT_DEV_ROOT_TOKEN_ID: "myroot"
      VAULT_LOCAL_CONFIG: '{"backend": {"file": {"path": "/vault/file"}}, "default_lease_ttl": "168h", "max_lease_ttl": "720h"}'
    ports:
      - "8233:8233"
    volumes:
      - ./vault/tmp:/vault/tmp
      - ./vault/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
    cap_add:
      - IPC_LOCK
    healthcheck:
      test: ["CMD-SHELL", "test -f /tmp/service_started"]
      timeout: 1s
      retries: 20
networks:
  default:
    name: payment-manager
